<html>
  <head><title>New login</title></head>
  <body>
    <div>
      New sign in for {{email}} <br/>
      <b>Timestamp:</b> {{date}} <br/>
      <b>IP address:</b> {{ip}} <br/>
      <b>User agent</b> {{userAgent}} <br/>
    </div>
  </body>
</html>